@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #132E35;
  color: #69818D;
}

nav{
    background-color:#0D1F23;;
    color: rgb(226, 221, 221);
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
   
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 9vw);
    grid-template-columns: repeat(3, 9vw);
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

.box{
    border: 1px solid white;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: #2D4A53;
}

.info {
    font-size: 22px;
    top:11%;
    left:1%;
    position: absolute;

}

.gameInfo{
    padding: 0 34px;
    font-family: 'Times New Roman', Times, serif, cursive;
 
}

.gameInfo h1{
    font-size: 2.5rem;
  
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;

 
}


#reset {
    margin: 0 23px;
    padding: 10px 28px;
    background: #5A636A;
    border-radius: 90px;
    cursor: pointer;
   font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
    color:white;
    top:11%;
    left:85%;
    position: absolute;
 
   
    

  
  
}


.line{
    background-color: white;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #AFB3B7;
    transition: width 1s ease-in-out;
   
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
